<footer class="footer">

  <div class="footer_container">
    <a href="./index.html#header" class="footer_container-arrow"><img src="./assets/images/ico-arrow.svg" alt="footer-arrow"  class= "footer-arrow-img" title="footer-arrow"></a></div>
   
  <div class="footer_nav">
    <nav class="footer_nav_inweb">
      <ul class="footer_nav_inweb-list">
          <li><a href="https://adalab.es/" class="footer_nav_inweb-list--link">Articles</a></li>
          <li><a href="https://adalab.es/" class="footer_nav_inweb-list--link">Books</a></li>
          <li><a href="https://adalab.es/" class="footer_nav_inweb-list--link">Events</a></li>
          <li><a href="https://adalab.es/" class="footer_nav_inweb-list--link">Reasons</a></li>
          <li><a href="https://adalab.es/" class="footer_nav_inweb-list--link">Tips</a></li>
      </ul>
    </nav>
    
    <nav class="footer_nav_social">
      <ul class="footer_nav_social-list">
          <li><a href="https://adalab.es/" class="footer_nav_social-list--link">Twitter</a></li>
          <li><a href="https://adalab.es/" class="footer_nav_social-list--link">Instagram</a></li>
          <li><a href="https://adalab.es/" class="footer_nav_social-list--link">Mastodon.social</a></li>
      </ul>
    </nav>
    
    <section class="footer_nav_credits">
      <p class="footer_nav_credits-copy">©2022</p>
      <p class="footer_nav_credits-components"> we <span class="footer_nav_credits-components--heart">❤︎</span> components </p>
    </section>
  </div>

  </footer>