<footer class="footer">

  <a href="./index.html#hero" class="footer_arrow"><img src="./assets/images/ico-arrow.svg" alt="footer-arrow"  class= "footer-arrow-img" title="footer-arrow"></a>
   
  <nav class="footer_inweb">
    <ul class="footer_inweb-list">
        <li><a href="https://adalab.es/" class="footer_inweb-list--link">Articles</a></li>
        <li><a href="https://adalab.es/" class="footer_inweb-list--link">Books</a></li>
        <li><a href="https://adalab.es/" class="footer_inweb-list--link">Events</a></li>
        <li><a href="https://adalab.es/" class="footer_inweb-list--link">Reasons</a></li>
        <li><a href="https://adalab.es/" class="footer_inweb-list--link">Tips</a></li>
    </ul>
</nav>
  
<nav class="footer-social">
    <ul class="footer_social-list">
        <li><a href="https://adalab.es/" class="footer_social-list--link">Twitter</a></li>
        <li><a href="https://adalab.es/" class="footer_social-list--link">Instagram</a></li>
        <li><a href="https://adalab.es/" class="footer_social-list--link">Mastodon.social</a></li>
    </ul>
</nav>
      
  <section class="footer_credits">
    <p class="footer_credits-copy">©2022</p>
    <p class="footer_credits-components"> we <span class="footer_credits-components--heart">❤︎</span> components </p>
  </section>

  </footer>