<section class="reasons">
    <h2 class="reasons_title">3 Reasons to purchase</h2>

    <include src="./article-reasons.html"
    reason="Ut sed metus"
    reasontext="Lorem ipsum dolor sit amet, consecteur.">
    </include>

    <include src="./article-reasons.html"
    reason="Curabitur ac erat"
    reasontext="Mauris mattis urna quis lorem molestie.">
    </include>

    <include src="./article-reasons.html"
    reason="Morbi dictum"
    reasontext="Aliquam in dolor et dolor tincidunt.">
    </include>

</section>