// fonts
$font-main: 'Roboto';
$font-title:'Roboto Slab';

// colors
$color-orange: #f26002;
$color-white: #ffffff;
$color-lightblue: #8ccbea;
$color-darkblue: #304268;
$color-blue: #0271bc;
$color-iceblue: #eff9ff;