.header {
  height: rem(420);
  background: url(../images/cover.jpeg);
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: center;

   &-link-menu {
    top: 0;
    left: 0;
    background-color: $color-blue;
    position: fixed;
    padding: rem(12);
   }

   &_name{
    align-items: center;
    transform: translateY(-50%);
    &-title {
      font-size: rem(42);
      font-family: $font-title;
      color: $color-white;
      font-weight: 700;
      text-transform: uppercase;
      line-height: rem(60);
      word-spacing:100vw;
     }
  
    &-text {
        font-size: rem(16);
        font-family: $font-main;
        color: $color-white;
        padding-top: 10px;
    }
   }

  &-arrow {
    width: 40px;
    height: 40px;
    background-color: $color-white;
    border-radius: 50%;
    line-height: 45px;
    transform: translateY(-50%);
}
  }