.reasons{
    background-color: $color-iceblue;
    display: grid;
    text-align: center;
    justify-items: center;
    grid-template-columns: 1fr;
    &_title{
        font-family: $font-title;
        font-size: rem(32);
        margin-bottom: rem(50);
        padding-top: rem(30);
    }
    &_article{
        display: grid;
        margin-left: 70px;
        margin-right: 70px;
        &-title{
            font-family: $font-title;
            font-size: rem(18);
            padding-bottom: rem(10);
        }
        &-text{
            font-family: $font-main;
            font-size: rem(20);
            padding-bottom: rem(30);
        }
    }

    &_more {
        background-color: $color-orange;
        font-size: rem(18);
        font-family: $font-main;
        line-height: rem(40);
        color: $color-white;
        text-decoration: none;
        width: rem(175);
        border-radius: 22.5px;
        margin-bottom: rem(60);
    }
}