.reasons{
    background-color: $color-iceblue;
    display: grid;
    text-align: center;
    justify-items: center;
    grid-template-columns: 1fr;
    padding: 0px 70px 0px 70px;

    &_title{
        font-family: $font-title;
        font-size: rem(32);
        margin-bottom: rem(50);
        padding-top: rem(30);
    }
    &_article{
        display: grid;
        column-gap: 25px;
        &-title{
            font-family: $font-title;
            font-size: rem(18);
            padding-bottom: rem(10);
        }
        &-text{
            font-family: $font-main;
            font-size: rem(20);
            padding-bottom: rem(30);
        }
    }

    &_more {
        background-color: $color-orange;
        font-size: rem(18);
        font-family: $font-main;
        line-height: rem(40);
        color: $color-white;
        text-decoration: none;
        width: rem(175);
        border-radius: 22.5px;
        margin-bottom: rem(60);
        &:hover {
            transform: scale(1.5, 1.5);
            transition: 2s;
        }
    }

    @media all and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 28px;
        &_title{
            grid-column: 1/4;
        }
        &_more{
            grid-column: 1/4;
        }
    }

    @media all and (min-width: 1200px) {
        column-gap: 26px;
      } 
    }
